*{
    padding: 0;
    margin: 0;
    border: none;
    outline: none;
}

.fondo{
    background-image: linear-gradient(rgba(106, 205, 235, 0.8) 12%,rgba(243, 112, 116, 0.8));
    height: 100vh;
    width: 100vw;
}

.imagen{
    background-image:url("/img/fondo.jpg"); 

}
.contenedorCuadrados{
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 100vh;
    width: 100vw;
}

.cuadrado{
    height: 100px;
    width: 100px;
    border: 5px solid white;
    line-height: 90px;
    text-align:center;
    text-decoration: none;
    display: block;
    text-decoration: none;
    color: white;
}
