<!DOCTYPE html>
<html>
	<head>
		<title>GPS Proyect</title>
  	<script src="angular/angular.min.js"></script>
		<script src="chart.js/dist/Chart.min.js"></script>
<script src="angular-chart.js/dist/angular-chart.min.js"></script>
	<script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
	<script src="angular-animate/angular-animate.js"></script>
	<script src="angular-animate/angular-animate.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.15/angular-sanitize.min.js"></script>
	<script src="ng-csv.js"></script>
    <script src="prueba.js"></script>

    <link href="main.css" rel="stylesheet" type="text/css">
		  <link href="unite.css" rel="stylesheet" type="text/css">
			  <link href="gradient.css" rel="stylesheet" type="text/css">
			  <link href="material-circle.css" rel="stylesheet" type="text/css">

		<!-- CSS de Bootstrap -->
    <link href="css/bootstrap.min.css" rel="stylesheet" media="screen">
		<!-- Librería jQuery requerida por los plugins de JavaScript -->
    <script src="https://code.jquery.com/jquery.js"></script>
		<!-- Todos los plugins JavaScript de Bootstrap  -->
	 <script src="js/bootstrap.min.js"></script>
		<meta name="viewport" content="initial-scale=1.0, user-scalable=no">
		<meta charset="utf-8">
		<style>
		  html, body{
			height: 100%;
			margin: 0px;
			padding: 0px
		  }
		</style>

		<script src="https://code.highcharts.com/highcharts.js"></script>
		<script src="https://code.highcharts.com/modules/exporting.js"></script>

			<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCJ5GI9TFx8kPwL8dyViS5UUDIybpH36IE&libraries=places"
			></script>
		</head>
	<body ng-app = 'Prueba'>


		<div id="body-wrapper"  ng-controller='PruebaController as list1'  >

<div class="modal fade bs-example-modal-sm" id="modalW" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
  <div class="modal-dialog modal-sm" role="document">
    <div class="alert alert-success" role="alert" ng-hide="!list1.modoCreacion">El modo creación de Waypoints ha sido ativado, pincha en el mapa para crear Waypoints</div>
		<div class="alert alert-danger" role="alert"  ng-hide="list1.modoCreacion">El modo creación de Waypoints ha sido desactivado.</div>
  </div>
</div>
<div ng-if="list1.mostrarMensaje">
<div class="modal fade bs-example-modal-sm" id="modalTR" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" >
  <div class="modal-dialog modal-sm" role="document">
		<div class="alert alert-danger" role="alert"  >El modo creación de Waypoints ha sido desactivado.</div>
  </div>
</div>
</div>
<div ng-if="list1.error">
<div class="modal fade bs-example-modal-sm" id="modalMS" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" >
  <div class="modal-dialog modal-sm" role="document">
		<div class="alert alert-danger" role="alert"  >{{list1.mensajeError}}</div>
  </div>
</div>
</div>
				<input id="pac-input" class="controls" type="text"
			 placeholder="Enter a location">
			<my-map></my-map>
<div id="datos" ng-hide="!list1.mostrarTabla" ng-click="list1.superponerTabla()">
<button id="tablaCsv"type="button" class="bttn-gradient bttn-xs bttn-danger" ng-csv="getArray" csv-header="getHeader()"  filename="test.csv">Exportar tabla</button>
				<div id="puntos">


				<table  class="table table-hover table-condensed">
					<tbody>
						<thead >

				<tr class="active">
					<th >Nº</th>
					<th>Latitud</th>
					<th>Longitud</th>
					<th>Elevación</th>
					<th>Fecha</th>
					<th>Hora</th>
					<th>Desnivel</th>
					<th>Distancia</th>
					<th>Velocidad</th>
				</tr>
				</thead>
				<tr ng-repeat="item in list1.puntosTrackActivo" ng-click="list1.puntoSelec($index);">
					<td >{{item["numero"]}}</td>
					<td>{{item["latitud"]}}</td>
					<td>{{item["longitud"]}}</td>
					<td>{{item["elevacion"]}}m</td>
					<td>{{item["fecha"]}}</td>
					<td>{{item["hora"]}}</td>
					<td>{{item["desnivel"]}}m</td>
					<td>{{item["distancia"]}}m</td>
					<td>{{item["velocidad"]}}km/h</td>

				</tr>

</tbody>

				</table>

				</div>

			</div>

			<div id="grafica"   ng-controller="LineCtrl as line" ng-click="line.superponerGrafica()"  ng-hide="!list1.mostrarGrafica">


				<a  ng-click="list1.dowImage()" ng-href="{{list1.dataUrl}}"  id="btn-download"  ng-hide="!list1.isChrome" download="my-file-name.png"><button id="downBt" type="button"  class="bttn-gradient bttn-xs bttn-danger">Descargar grafica</button></a>
				<a  ng-click="list1.dowImage()" ng-href="{{list1.dataUrl}}"  id="btn-download"  ng-hide="!list1.isFirefox" download="my-file-name.png"><button id="downBt" type="button"  class="bttn-gradient bttn-xs bttn-danger">Descargar grafica</button></a>
				<a  ng-click="list1.dowImage()"   id="btn-download" ng-hide="!list1.esIE" ><button id="downBt" type="button"  class="bttn-gradient bttn-xs bttn-danger">Descargar grafica</button></a>
				<a  ng-click="list1.dowImage()" ng-href="{{list1.dataUrl}}" target="_blank"  id="btn-downloadSA" ng-hide="!list1.isSafari" ><button id="downBt" type="button"  class="bttn-gradient bttn-xs bttn-danger">Descargar grafica</button></a>
				<img  src="informacion.png" ng-hide="!list1.isSafari" title="Al usar Safari te saldrá una nueva ventana con la imagen, dale a boton derecho y a guardar como." height="6%" width="1%">
				<canvas id="canvas" class="chart chart-line" chart-data="data"
				chart-labels="labels" chart-series="series" chart-options="options"
				chart-dataset-override="datasetOverride" chart-click="onClick" height="10%" width="75%">
			</canvas>

</div>


			<div id="lista" class="radio" ng-click="list1.superponerLista()">
				<ul ng-if="list1.activarLista">
					<img  src="informacion.png" title="nombre del track, desnivel positivo, desnivel negativo, distancia, punto más alto, punto más bajo, duracion ida, duracion vuelta." height="5%" width="5%">
				<li ng-repeat="item in list1.tracks"><input type="radio" name="track"  ng-model="list1.trackActivo" ng-value="$index" ng-change="list1.actualizarPuntosT()" >{{item["nombre"]}},+{{item["desnivelP"]}}m,{{item["desnivelN"]}}m,{{item["distancia"]}}Km,>{{item["elevMax"]}}m,<{{item["elevMin"]}}m,->{{item["duracionIda"]}}h,<-{{item["duracionVuelta"]}}h</li>
			</ul>
			<ul ng-if="list1.activarListaR">
			<img src="informacion.png" title="nombre del track, desnivel positivo, desnivel negativo, distancia, punto más alto, punto más bajo." height="5%" width="5%">
			<li ng-repeat="item in list1.rutas"><input type="radio" name="track"  ng-model="list1.rutaActiva" ng-value="$index" ng-change="list1.actualizarPuntosR()">{{item["nombre"]}},+{{item["desnivelP"]}}m,{{item["desnivelN"]}}m,{{item["distancia"]}}Km,>{{item["elevMax"]}}m,<{{item["elevMin"]}}m</li>
			</ul>
			<ul ng-if="list1.activarListaW">
		<li ng-repeat="item in list1.waypoints"><input type="radio"  name="track" ng-model="list1.wpActivo" ng-value="$index" value="track1" >{{item["nombre"]}}, {{item["latitud"]}}, {{item["longitud"]}}, {{item["elevacion"]}}m</li>
		</ul>
			</div>
			<div id="botones">
				<button id="boton-t"type="button" ng-click="list1.listarFunciones();" class="bttn-material-circle bttn-xs bttn-primary">T</button>
				<button id="boton-r"type="button" ng-click="list1.listarFuncionesR();" class="bttn-material-circle bttn-xs bttn-royal">R</button>
				<button id="boton-w"type="button" ng-click="list1.listarFuncionesW();" class="bttn-material-circle bttn-xs bttn-success">W</button>
			</div>
      <div id="funciones" >
				<table  class="sample-show-hide" align="left" ng-mouseleave="list1.noVerBotones();" ng-show="list1.mostrarBotonesW">
					<tr>  <td ><button id="botonCrearW" type="button" data-toggle="modal" data-target="#modalW" ng-click="list1.listaActivaW();" class="bttn-unite bttn-xs bttn-success">Crear</button></td></tr>
						<tr><td><button id="botonBor" type="button"  class="bttn-unite bttn-xs bttn-success">Borrar</button></td></tr>
						<tr><td><button id="botonRen" type="button" data-toggle="modal" data-target="#modalMS" ng-click="list1.renombrarW();" class="bttn-unite bttn-xs bttn-success">Renombrar</button></td></tr>
						<tr><td><button id="botonDes" type="button"  class="bttn-unite bttn-xs bttn-success">Descargar</button></td></tr>
						<tr><td><button id="importar"type="button" class="bttn-unite bttn-xs bttn-success">Importar</button></td></tr>
				</table>
				<table  class="sample-show-hide" align="left" ng-mouseleave="list1.noVerBotones();" ng-show="list1.mostrarBotonesR">
					<tr>  <td ><button id="botonCrear" type="button" data-toggle="modal" data-target="#modalTR"  ng-click="list1.listaActivaR();" class="bttn-unite bttn-xs bttn-royal">Crear</button></td></tr>
						<tr><td><button id="botonBor" type="button" data-toggle="modal" data-target="#modalMS" ng-click="  list1.borrarRuta();" class="bttn-unite bttn-xs bttn-royal">Borrar</button></td></tr>
						<tr><td><button id="botonRen" type="button" data-toggle="modal" data-target="#modalMS" ng-click="list1.renombrarR();" class="bttn-unite bttn-xs bttn-royal">Renombrar</button></td></tr>
						<tr><td><button id="botonDes" type="button"  class="bttn-unite bttn-xs bttn-royal">Descargar</button></td></tr>
						<tr><td><button id="importar"type="button" class="bttn-unite bttn-xs bttn-royal">Importar</button></td></tr>
				</table>
				<table  class="sample-show-hide" align="left" ng-mouseleave="list1.noVerBotones();" ng-show="list1.mostrarBotones">
					<tr>  <td ><button id="botonCrear" type="button" data-toggle="modal" data-target="#modalTR" ng-click="list1.listaActiva();" class="bttn-unite bttn-xs bttn-primary">Crear</button></td></tr>
						<tr><td><button id="botonBor" type="button" data-toggle="modal" data-target="#modalMS" ng-click="  list1.borrarTrack();" class="bttn-unite bttn-xs bttn-primary">Borrar</button></td></tr>
						<tr><td><button id="botonRen" type="button" data-toggle="modal" data-target="#modalMS" ng-click="list1.renombrarT();" class="bttn-unite bttn-xs bttn-primary">Renombrar</button></td></tr>
						<tr><td><button id="botonDes" type="button"  class="bttn-unite bttn-xs bttn-primary">Descargar</button></td></tr>
						<tr><td><button id="importar"type="button" class="bttn-unite bttn-xs bttn-primary">Importar</button></td></tr>
				</table>
        <table ng-if="list1.funcionesW">
        <tr>  <td ><button id="botonBotones" type="button" ng-click="  list1.verBotonesW();" class="bttn-unite bttn-xs bttn-success">Archivo</button></td></tr>
        <tr>  <td><button id="botonEli" type="button" class="bttn-unite bttn-xs bttn-success">Cambiar ubicación</button></td></tr>
					<tr><td><button id="botonListar" type="button" ng-click="list1.listaW();" class="bttn-unite bttn-xs bttn-success">Ver/Ocultar lista</button></td></tr>
        </table>
        <table ng-if="list1.funcionesR">

        <tr>  <td ><button id="botonBotones" type="button" ng-click="  list1.verBotonesR();" class="bttn-unite bttn-xs bttn-royal">Archivo</button></td></tr>
        <tr>  <td><button id="botonEli" type="button" class="bttn-unite bttn-xs bttn-royal">Eliminar Punto</button></td></tr>
          <tr><td><button id="botonIns" type="button"  class="bttn-unite bttn-xs bttn-royal">Insertar Punto</button></td></tr>
        <tr><td><button id="botonRec" type="button" data-toggle="modal" data-target="#modalMS" ng-click="list1.recortarRuta();" class="bttn-unite bttn-xs bttn-royal">Recortar</button></td></tr>
          <tr><td><button id="botonUnir" type="button" class="bttn-unite bttn-xs bttn-royal">Unir</button></td></tr>
          <tr><td><button id="botonInv" type="button" ng-click="list1.invertirRuta();" class="bttn-unite bttn-xs bttn-royal">Invertir</button></td></tr>
					<tr><td><button id="botonListar" type="button" data-toggle="modal" data-target="#modalTR" ng-click="list1.listaR();" class="bttn-unite bttn-xs bttn-royal">Ver/Ocultar lista</button></td></tr>
          <tr><td><button id="botonDatos"type="button" ng-click="list1.verTablaR();" class="bttn-unite bttn-xs bttn-royal">Ver/Ocultar tabla</button></td></tr>
					<tr><td><button id="botonDatos"type="button" ng-click="list1.verGrafica();" class="bttn-unite bttn-xs bttn-royal">Ver/Ocultar gráfica</button></td></tr>
        </table>

        <table ng-if="list1.funciones">
					<tr>  <td ><button id="botonBotones" type="button" ng-click="  list1.verBotones();" class="bttn-unite bttn-xs bttn-primary">Archivo</button></td></tr>
        <tr>  <td><button id="botonEli" type="button" class="bttn-unite bttn-xs bttn-primary">Eliminar Punto</button></td></tr>
          <tr><td><button id="botonIns" type="button"  class="bttn-unite bttn-xs bttn-primary">Insertar Punto</button></td></tr>
        <tr><td><button id="botonRec" type="button" data-toggle="modal" data-target="#modalMS" ng-click="list1.recortarTrack();" class="bttn-unite bttn-xs bttn-primary">Recortar</button></td></tr>
          <tr><td><button id="botonUnir" type="button" class="bttn-unite bttn-xs bttn-primary">Unir</button></td></tr>
          <tr><td><button id="botonInv" type="button" ng-click="list1.invertirTrack();" class="bttn-unite bttn-xs bttn-primary">Invertir</button></td></tr>
					<tr><td>  <button id="botonTim" type="button" ng-click="list1.cambiarTiempos();" class="bttn-unite bttn-xs bttn-primary">Tiempos</button></td></tr>
					<tr><td><button id="botonListar" type="button" data-toggle="modal" data-target="#modalTR" ng-click="list1.listaT();" class="bttn-unite bttn-xs bttn-primary">Ver/Ocultar lista</button></td></tr>
					<tr><td><button id="botonDatos"type="button" ng-click="list1.verTablaT();" class="bttn-unite bttn-xs bttn-primary">Ver/Ocultar tabla</button></td></tr>
					<tr><td><button id="botonDatos"type="button" ng-click="list1.verGrafica();" class="bttn-unite bttn-xs bttn-primary">Ver/Ocultar gráfica</button></td></tr>


        </table>

			</div>
</div>










			<div id="footer"></div>

		</div>
			</body>
</html>
