<!DOCTYPE html>
<html>
	<head>
		<title>GPS Proyect</title>
  	<script src="angular/angular.min.js"></script>
		<script src="chart.js/dist/Chart.min.js"></script>
<script src="angular-chart.js/dist/angular-chart.min.js"></script>
	<script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
	<script src="angular-animate/angular-animate.js"></script>
	<script src="angular-animate/angular-animate.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.15/angular-sanitize.min.js"></script>
	<script src="ng-csv.js"></script>
    <script src="prueba.js"></script>

    <link href="main.css" rel="stylesheet" type="text/css">
		  <link href="unite.css" rel="stylesheet" type="text/css">
			  <link href="material-circle.css" rel="stylesheet" type="text/css">

		<!-- CSS de Bootstrap -->
    <link href="css/bootstrap.min.css" rel="stylesheet" media="screen">
		<!-- Librería jQuery requerida por los plugins de JavaScript -->
    <script src="https://code.jquery.com/jquery.js"></script>
		<!-- Todos los plugins JavaScript de Bootstrap  -->
	 <script src="js/bootstrap.min.js"></script>
		<meta name="viewport" content="initial-scale=1.0, user-scalable=no">
		<meta charset="utf-8">
		<style>
		  html, body{
			height: 100%;
			margin: 0px;
			padding: 0px
		  }
		</style>

		<script src="https://code.highcharts.com/highcharts.js"></script>
		<script src="https://code.highcharts.com/modules/exporting.js"></script>

			<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCJ5GI9TFx8kPwL8dyViS5UUDIybpH36IE&libraries=places"
			></script>
		</head>
	<body ng-app = 'Prueba'>


		<div id="body-wrapper" ng-controller='PruebaController as list1'  >

				<input id="pac-input" class="controls" type="text"
			 placeholder="Enter a location">
			<my-map></my-map>
<div id="datos" ng-hide="!list1.mostrarTabla">
<button id="tablaCsv"type="button" class="bttn-unite bttn-xs bttn-primary" ng-csv="getArray" csv-header="getHeader()"  filename="test.csv">Exportar tabla</button>
				<div id="puntos">


				<table  class="table table-condensed">
					<tbody>
				<tr>
					<td>Punto nº</td>
					<td>Latitud</td>
					<td>Longitud</td>
					<td>Elevación</td>
					<td>Hora</td>
					<td>Desnivel</td>
					<td>Distancia</td>
					<td>Velocidad</td>
				</tr>
				<tr>
					<td>1</td>
					<td>43.083333</td>
					<td>-5.804077</td>
					<td>600m</td>
					<td>09:07</td>
					<td>0</td>
					<td>0</td>
					<td>4km/h</td>

				</tr>
				<tr>
					<td>2</td>
					<td>43.207578</td>
					<td>-6.474243</td>
					<td>650m</td>
					<td>09:25</td>
					<td>50m</td>
					<td>1km</td>
					<td>4km/h</td>

				</tr>
				<tr>
					<td>3</td>
					<td>42.982951</td>
					<td>-5.957886</td>
					<td>630m</td>
					<td>09:50</td>
					<td>-20m</td>
					<td>1.5km</td>
					<td>4km/h</td>

				</tr>
				<tr>
					<td>4</td>
					<td>42.950794</td>
					<td>-6.419312</td>
					<td>733m</td>
					<td>10:45</td>
					<td>103m</td>
					<td>2.1km</td>
					<td>4km/h</td>

				</tr>
				<tr>
					<td>5</td>
					<td>42.932951</td>
					<td>-5.957886</td>
					<td>690m</td>
					<td>11:05</td>
					<td>-43m</td>
					<td>1.9km</td>
					<td>4km/h</td>

				</tr>
				<tr>
					<td>6</td>
					<td>42.942951</td>
					<td>-6.957886</td>
					<td>790m</td>
					<td>11:35</td>
					<td>100m</td>
					<td>2.9km</td>
					<td>4km/h</td>

				</tr>
				<tr>
					<td>7</td>
					<td>42.962901</td>
					<td>-5.970986</td>
					<td>850m</td>
					<td>12:05</td>
					<td>60m</td>
					<td>2.3km</td>
					<td>4km/h</td>

				</tr>
				<tr>
					<td>8</td>
					<td>42.972371</td>
					<td>-6.943886</td>
					<td>830m</td>
					<td>12:43</td>
					<td>-20m</td>
					<td>1.6km</td>
					<td>4km/h</td>

				</tr>
				<tr>
					<td>9</td>
					<td>42.926851</td>
					<td>-6.967446</td>
					<td>900m</td>
					<td>13:15</td>
					<td>70m</td>
					<td>2.7km</td>
					<td>4km/h</td>

				</tr>
				<tr>
					<td>10</td>
					<td>42.980051</td>
					<td>-5.927456</td>
					<td>950m</td>
					<td>13:45</td>
					<td>50m</td>
					<td>2.3km</td>
					<td>4km/h</td>

				</tr>
				<tr>
					<td>11</td>
					<td>43.083333</td>
					<td>-5.804077</td>
					<td>600m</td>
					<td>09:07</td>
					<td>350</td>
					<td>014:05</td>
					<td>4km/h</td>

				</tr>
				<tr>
					<td>12</td>
					<td>43.207578</td>
					<td>-6.474243</td>
					<td>650m</td>
					<td>09:25</td>
					<td>50m</td>
					<td>1km</td>
					<td>4km/h</td>

				</tr>
				<tr>
					<td>13</td>
					<td>42.982951</td>
					<td>-5.957886</td>
					<td>630m</td>
					<td>09:50</td>
					<td>-20m</td>
					<td>1.5km</td>
					<td>4km/h</td>

				</tr>
				<tr>
					<td>14</td>
					<td>42.950794</td>
					<td>-6.419312</td>
					<td>733m</td>
					<td>10:45</td>
					<td>103m</td>
					<td>2.1km</td>
					<td>4km/h</td>

				</tr>
				<tr>
					<td>15</td>
					<td>42.932951</td>
					<td>-5.957886</td>
					<td>690m</td>
					<td>11:05</td>
					<td>-43m</td>
					<td>1.9km</td>
					<td>4km/h</td>

				</tr>
				<tr>
					<td>16</td>
					<td>42.942951</td>
					<td>-6.957886</td>
					<td>790m</td>
					<td>11:35</td>
					<td>100m</td>
					<td>2.9km</td>
					<td>4km/h</td>

				</tr>
				<tr>
					<td>17</td>
					<td>42.962901</td>
					<td>-5.970986</td>
					<td>850m</td>
					<td>12:05</td>
					<td>60m</td>
					<td>2.3km</td>
					<td>4km/h</td>

				</tr>
				<tr>
					<td>18</td>
					<td>42.972371</td>
					<td>-6.943886</td>
					<td>830m</td>
					<td>12:43</td>
					<td>-20m</td>
					<td>1.6km</td>
					<td>4km/h</td>

				</tr>
				<tr>
					<td>19</td>
					<td>42.926851</td>
					<td>-6.967446</td>
					<td>900m</td>
					<td>13:15</td>
					<td>70m</td>
					<td>2.7km</td>
					<td>4km/h</td>

				</tr>
				<tr>
					<td>20</td>
					<td>42.980051</td>
					<td>-5.927456</td>
					<td>950m</td>
					<td>13:45</td>
					<td>50m</td>
					<td>2.3km</td>
					<td>4km/h</td>

				</tr>
				<tr>
					<td>21</td>
					<td>43.083333</td>
					<td>-5.804077</td>
					<td>600m</td>
					<td>09:07</td>
					<td>300</td>
					<td>10:05</td>
					<td>4km/h</td>

				</tr>
				<tr>
					<td>22</td>
					<td>43.207578</td>
					<td>-6.474243</td>
					<td>650m</td>
					<td>09:25</td>
					<td>50m</td>
					<td>1km</td>
					<td>4km/h</td>

				</tr>
				<tr>
					<td>23</td>
					<td>42.982951</td>
					<td>-5.957886</td>
					<td>630m</td>
					<td>09:50</td>
					<td>-20m</td>
					<td>1.5km</td>
					<td>4km/h</td>

				</tr>
				<tr>
					<td>24</td>
					<td>42.950794</td>
					<td>-6.419312</td>
					<td>733m</td>
					<td>10:45</td>
					<td>103m</td>
					<td>2.1km</td>
					<td>4km/h</td>

				</tr>
				<tr>
					<td>25</td>
					<td>42.932951</td>
					<td>-5.957886</td>
					<td>690m</td>
					<td>11:05</td>
					<td>-43m</td>
					<td>1.9km</td>
					<td>4km/h</td>

				</tr>
				<tr>
					<td>26</td>
					<td>42.942951</td>
					<td>-6.957886</td>
					<td>790m</td>
					<td>11:35</td>
					<td>100m</td>
					<td>2.9km</td>
					<td>4km/h</td>

				</tr>
				<tr>
					<td>27</td>
					<td>42.962901</td>
					<td>-5.970986</td>
					<td>850m</td>
					<td>12:05</td>
					<td>60m</td>
					<td>2.3km</td>
					<td>4km/h</td>

				</tr>
				<tr>
					<td>28</td>
					<td>42.972371</td>
					<td>-6.943886</td>
					<td>830m</td>
					<td>12:43</td>
					<td>-20m</td>
					<td>1.6km</td>
					<td>4km/h</td>

				</tr>
				<tr>
					<td>29</td>
					<td>42.926851</td>
					<td>-6.967446</td>
					<td>900m</td>
					<td>13:15</td>
					<td>70m</td>
					<td>2.7km</td>
					<td>4km/h</td>

				</tr>
				<tr>
					<td>30</td>
					<td>42.980051</td>
					<td>-5.927456</td>
					<td>950m</td>
					<td>13:45</td>
					<td>50m</td>
					<td>2.3km</td>
					<td>4km/h</td>

				</tr>
</tbody>

				</table>

				</div>

			</div>

			<div id="grafica"   ng-controller="LineCtrl"  ng-hide="!list1.mostrarGrafica">


				<a ng-href="{{list1.dataUrl}}" ng-click="list1.dowImage()" id="btn-download" download="my-file-name.png"><button id="botonBor" type="button"  class="bttn-unite bttn-xs bttn-success">Descargar</button></a>

				<canvas id="canvas" class="chart chart-line" chart-data="data"
				chart-labels="labels" chart-series="series" chart-options="options"
				chart-dataset-override="datasetOverride" chart-click="onClick" height="10%" width="45%">
			</canvas>

</div>


			<div id="lista" class="radio">
				<ul ng-if="list1.activarLista">
					<img  src="informacion.png" title="nombre del track, desnivel positivo, desnivel negativo, distancia, punto más alto, punto más bajo." height="5%" width="5%">
				<li><input type="radio" name="track" value="track1" >Track1, +1.250m, -1450m, 12,5Km, >1950m, <970m</li>
				<li><input type="radio" name="track" value="track2" >Track2,   +250m, -1050m,  9,5Km,  >950m, <570m</li>
				<li><input type="radio" name="track" value="track3" >Track3, +1.250m, -1450m, 12,5Km, >1950m, <970m</li>
			</ul>
			<ul ng-if="list1.activarListaR">
			<img src="informacion.png" title="nombre del track, desnivel positivo, desnivel negativo, distancia, punto más alto, punto más bajo." height="5%" width="5%">
			<li><input type="radio" name="ruta" value="ruta1" >Ruta 1, +1.250m, -1450m, 12,5Km, >1950m, <970m</li>
			<li><input type="radio" name="ruta" value="ruta2" >Ruta 2, +1.250m, -1450m, 12,5Km, >1950m, <970m</li>
			<li><input type="radio" name="ruta" value="ruta3" >Ruta 3,   +250m, -1050m,  9,5Km,  >950m, <570m</li>
			</ul>
			<ul ng-if="list1.activarListaW">
		<li><input type="radio" name="wayp" value="wayp1" >Waypoint 1</li>
		<li><input type="radio" name="wayp" value="wayp2" >Waypoint 2</li>
		<li><input type="radio" name="wayp" value="wayp3" >Waypoint 3</li>
		</ul>
			</div>
			<div id="botones">
				<button id="boton-t"type="button" ng-click="list1.listarFunciones();" class="bttn-material-circle bttn-xs bttn-primary">T</button>
				<button id="boton-r"type="button" ng-click="list1.listarFuncionesR();" class="bttn-material-circle bttn-xs bttn-royal">R</button>
				<button id="boton-w"type="button" ng-click="list1.listarFuncionesW();" class="bttn-material-circle bttn-xs bttn-success">W</button>
			</div>
      <div id="funciones" >
				<table  class="sample-show-hide" align="left" ng-mouseleave="list1.noVerBotones();" ng-show="list1.mostrarBotonesW">
					<tr>  <td ><button id="botonCrear" type="button"  ng-click="list1.listaActivaW();" class="bttn-unite bttn-xs bttn-success">Crear</button></td></tr>
						<tr><td><button id="botonBor" type="button"  class="bttn-unite bttn-xs bttn-success">Borrar</button></td></tr>
						<tr><td><button id="botonRen" type="button"  class="bttn-unite bttn-xs bttn-success">Renombrar</button></td></tr>
						<tr><td><button id="botonDes" type="button"  class="bttn-unite bttn-xs bttn-success">Descargar</button></td></tr>
						<tr><td><button id="importar"type="button" class="bttn-unite bttn-xs bttn-success">Importar</button></td></tr>
				</table>
				<table  class="sample-show-hide" align="left" ng-mouseleave="list1.noVerBotones();" ng-show="list1.mostrarBotonesR">
					<tr>  <td ><button id="botonCrear" type="button"  ng-click="list1.listaActivaR();" class="bttn-unite bttn-xs bttn-royal">Crear</button></td></tr>
						<tr><td><button id="botonBor" type="button"  class="bttn-unite bttn-xs bttn-royal">Borrar</button></td></tr>
						<tr><td><button id="botonRen" type="button"  class="bttn-unite bttn-xs bttn-royal">Renombrar</button></td></tr>
						<tr><td><button id="botonDes" type="button"  class="bttn-unite bttn-xs bttn-royal">Descargar</button></td></tr>
						<tr><td><button id="importar"type="button" class="bttn-unite bttn-xs bttn-royal">Importar</button></td></tr>
				</table>
				<table  class="sample-show-hide" align="left" ng-mouseleave="list1.noVerBotones();" ng-show="list1.mostrarBotones">
					<tr>  <td ><button id="botonCrear" type="button"  ng-click="list1.listaActiva();" class="bttn-unite bttn-xs bttn-primary">Crear</button></td></tr>
						<tr><td><button id="botonBor" type="button"  class="bttn-unite bttn-xs bttn-primary">Borrar</button></td></tr>
						<tr><td><button id="botonRen" type="button"  class="bttn-unite bttn-xs bttn-primary">Renombrar</button></td></tr>
						<tr><td><button id="botonDes" type="button"  class="bttn-unite bttn-xs bttn-primary">Descargar</button></td></tr>
						<tr><td><button id="importar"type="button" class="bttn-unite bttn-xs bttn-primary">Importar</button></td></tr>
				</table>
        <table ng-if="list1.funcionesW">
        <tr>  <td ><button id="botonBotones" type="button" ng-click="  list1.verBotonesW();" class="bttn-unite bttn-xs bttn-success">Archivo</button></td></tr>
        <tr>  <td><button id="botonEli" type="button" class="bttn-unite bttn-xs bttn-success">Cambiar ubicación</button></td></tr>
					<tr><td><button id="botonListar" type="button" ng-click="list1.listaW();" class="bttn-unite bttn-xs bttn-success">Ver/Ocultar lista</button></td></tr>
        </table>
        <table ng-if="list1.funcionesR">

        <tr>  <td ><button id="botonBotones" type="button" ng-click="  list1.verBotonesR();" class="bttn-unite bttn-xs bttn-royal">Archivo</button></td></tr>
        <tr>  <td><button id="botonEli" type="button" class="bttn-unite bttn-xs bttn-royal">Eliminar Punto</button></td></tr>
          <tr><td><button id="botonIns" type="button" class="bttn-unite bttn-xs bttn-royal">Insertar Punto</button></td></tr>
        <tr><td><button id="botonRec" type="button" class="bttn-unite bttn-xs bttn-royal">Recortar</button></td></tr>
          <tr><td><button id="botonUnir" type="button" class="bttn-unite bttn-xs bttn-royal">Unir</button></td></tr>
          <tr><td><button id="botonInv" type="button" class="bttn-unite bttn-xs bttn-royal">Invertir</button></td></tr>
					<tr><td><button id="botonListar" type="button" ng-click="list1.listaR();" class="bttn-unite bttn-xs bttn-royal">Ver/Ocultar lista</button></td></tr>
          <tr><td><button id="botonDatos"type="button" ng-click="list1.verTabla();" class="bttn-unite bttn-xs bttn-royal">Ver/Ocultar tabla</button></td></tr>
					<tr><td><button id="botonDatos"type="button" ng-click="list1.verGrafica();" class="bttn-unite bttn-xs bttn-royal">Ver/Ocultar gráfica</button></td></tr>
        </table>

        <table ng-if="list1.funciones">
					<tr>  <td ><button id="botonBotones" type="button" ng-click="  list1.verBotones();" class="bttn-unite bttn-xs bttn-primary">Archivo</button></td></tr>
        <tr>  <td><button id="botonEli" type="button" class="bttn-unite bttn-xs bttn-primary">Eliminar Punto</button></td></tr>
          <tr><td><button id="botonIns" type="button" class="bttn-unite bttn-xs bttn-primary">Insertar Punto</button></td></tr>
        <tr><td><button id="botonRec" type="button" class="bttn-unite bttn-xs bttn-primary">Recortar</button></td></tr>
          <tr><td><button id="botonUnir" type="button" class="bttn-unite bttn-xs bttn-primary">Unir</button></td></tr>
          <tr><td><button id="botonInv" type="button" class="bttn-unite bttn-xs bttn-primary">Invertir</button></td></tr>
					<tr><td><button id="botonListar" type="button" ng-click="list1.listaR();" class="bttn-unite bttn-xs bttn-primary">Ver/Ocultar lista</button></td></tr>
					<tr><td><button id="botonDatos"type="button" ng-click="list1.verTabla();" class="bttn-unite bttn-xs bttn-primary">Ver/Ocultar tabla</button></td></tr>
					<tr><td><button id="botonDatos"type="button" ng-click="list1.verGrafica();" class="bttn-unite bttn-xs bttn-primary">Ver/Ocultar gráfica</button></td></tr>
          <tr><td>  <button id="botonTim" type="button" class="bttn-unite bttn-xs bttn-primary">Tiempos</button></td></tr>

        </table>

			</div>
</div>










			<div id="footer"></div>

		</div>
			</body>
</html>
